In [76]:
# En mac
# brew tap mongodb/brew
# brew install mongodb-community
# brew services start mongodb/brew/mongodb-community
#
# En ubuntu
# https://hevodata.com/blog/install-mongodb-on-ubuntu/
#
# En windows
# https://docs.mongodb.com/manual/tutorial/install-mongodb-on-windows/

In [114]:
# Libreria
# pip install pymongo

In [143]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["aluar-test"]

In [165]:
myclient.drop_database('aluar_test')
myclient.drop_database('aluar-test')

In [166]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [167]:
print(mydb.list_collection_names())

[]

In [168]:
mydict = { "name": "John", "address": "Highway 37", "age": 33}

In [169]:
# No estructurada
mydb.user.insert_one(mydict)

In [173]:
print(mydb.list_collection_names())

['user']

In [171]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mydb.user.insert_many(mylist)

In [172]:
mydb.user.count()

<ipython-input-172-b35da49c812c>:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  mydb.user.count()

13

In [124]:
for u in mydb.users.find():
    print(u)

{'_id': ObjectId('5f3420de1542e35fa7d64fa9'), 'name': 'John', 'address': 'Highway 37', 'age': 33}
{'_id': ObjectId('5f3420e01542e35fa7d64faa'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5f3420e01542e35fa7d64fab'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5f3420e01542e35fa7d64fac'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f3420e01542e35fa7d64fad'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5f3420e01542e35fa7d64fae'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5f3420e01542e35fa7d64faf'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f3420e01542e35fa7d64fb0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5f3420e01542e35fa7d64fb1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f3420e01542e35fa7d64fb2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5f3420e01542e35fa7d64fb3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5f3420e01542e35fa7d64fb4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5f3420e01542e35fa7d64fb5'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [125]:
for u in mydb.users.find({'name': 'John'}):
    print(u)

{'_id': ObjectId('5f3420de1542e35fa7d64fa9'), 'name': 'John', 'address': 'Highway 37', 'age': 33}

In [126]:
for u in mydb.users.find({}, { "_id": False, "address": False}):
    print(u)

{'name': 'John', 'age': 33}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}

In [127]:
myquery = { "address": { "$gt": "S" } }

mydoc = mydb.users.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5f3420e01542e35fa7d64fac'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5f3420e01542e35fa7d64faf'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5f3420e01542e35fa7d64fb1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5f3420e01542e35fa7d64fb5'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [99]:
# mydb.users.drop()